<div class="row">
  <div class="d-flex justify-content-between mb-2">
    <h2 class="mt-2">Ürünler</h2>
    <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#addProductModal">
      <i class="ti ti-plus"></i>
      Ürün Ekle
    </button>
  </div>
  <hr />

  <div class="d-flex justify-content-between mb-2">
    <!-- Kategoriye Göre Filtreleme -->
    <div class="me-1 w-25">
      <label for="categoryFilter" class="form-label">Kategoriye Göre Filtrele:</label>
      <select class="form-control" [(ngModel)]="selectedCategoryId" (change)="onCategoryChange()">
        <option [value]="0">Tüm Kategoriler</option>
        <option *ngFor="let category of categories" [value]="category.categoryID">{{ category.categoryName }}</option>
      </select>
    </div>
    <!-- Ürün Ara -->
    <div class="ms-1 w-75">
      <label for="categoryFilter" class="form-label">Ürün Adı veya Barkoda Göre Filtrele:</label>
      <input
      class="form-control"
      type="text"
      placeholder="Ürün ara"
      [(ngModel)]="searchTerm"
      (input)="onSearchTermChange()"
      aria-label="default input example"
    />
    </div>
  </div>

  <!-- Ürün Tablosu -->
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Ürün Adı</th>
          <th scope="col">Fiyat</th>
          <th scope="col">Barkod</th>
          <th scope="col">Kategori</th>
          <th scope="col">İşlemler</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ product.productName }}</td>
          <td>{{ product.unitPrice | currency }}</td>
          <td>{{ product.barcode }}</td>
          <td>{{ getCategoryName(product.categoryID) }}</td>
          <td>
            <button
              type="button"
              class="btn btn-sm btn-warning mx-1"
              (click)="openUpdateModal(product)"
              data-bs-toggle="modal"
              data-bs-target="#updateProductModal"
            >
              <i class="ti ti-edit"></i>
            </button>
            <button type="button" class="btn btn-sm btn-danger" (click)="confirmDelete(product)">
              <i class="ti ti-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
